<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/png" href="favicon.png">

	<meta charset="UTF-8">
	<title>Услуги агентства</title>
	<link href="https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/iview/styles/iview.css">
	<link rel="stylesheet" type="text/css" href="/assets/dist/css/style.css@v=0003.css">
</head>
<body>
				

	
<header class="header">
	<section class="top-links">
	<center>
	<a href="#" class="bottom-links__link link link_phone">
				+38(067)515-76-26	

				</a>
				
			<a href="#" class="bottom-links__link link link_phone">
				
				+38(067)221-21-16
	
				</a>
				
			<a href="#" class="bottom-links__link link link_phone">
				
				+38(067)445-74-47
				
				</a>
				
			<a href="#" class="bottom-links__link link link_phone">
				+38(067)405-73-03			
				
				</a>
				
			<a href="#" class="bottom-links__link link link_phone">				
				+38(067)408-21-77
				
				</a>
				
			<a href="#" class="bottom-links__link link link_email">
				princess-girls@ukr.net			</a></center>
</section>
	<section class="menu">
	<div class="menu__wrap">
		<a href="/" class="logo">Princess Girl</a>
		<nav class="menu__nav">
			<a href="/" class="menu__link">Главная</a>
			<a href="/services/" class="menu__link">Услуги</a>
			<a href="/about/" class="menu__link">Об агентстве</a>
			<a href="/contacts/" class="menu__link">Контакты</a>
		</nav>
		
	</div>
</section>	<section class="breadcrumbs">
	<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">Главная</a>
			</li>
					<li class="breadcrumbs__item">
				<a href="/services/" class="breadcrumbs__link">Услуги</a>
			</li>
			</ul>
</section>

	<div class="header__content">
					<h1 class="title header__title">Услуги агентства</h1>
					</div>
</header>

<div class="page-content">
	<div class="page-content__wrap">
		
<div class="wrapper wrapper_decoration">
	<p class="text text_small text_no-decor">
		Проведение профессиональных демонстраций любого типа одежды, съемка фото и видеороликов для различных рекламных кампаний (каталогов, журналов, рекламных и промо-роликов и т.д.), создание презентация для компаний и предприятий любого вида и статуса, сопровождение важных персон на выставках, светских встречах, конференциях, участие от имени компании или представление лица фирмы на телевизионных шоу и многое другое!
	</p>

	
	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/1/services-cards-img-1.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
						Модельные услуги
					</h3>
					<div class="services-list__text">
						<p>Услуги профессиональных моделей требуются повсеместно. Однако найти девушек, которые имеют опыт в модельном бизнесе, но при этом не требуют за свою работу высокой оплаты, достаточно сложно. Агентство <strong>Princess-Girl</strong> предлагает воспользоваться услугами профессиональных моделей в любой сфере современного бизнеса: проведение демонстраций одежды, съемки видеороликов для рекламных компаний, модели для презентации фитнес-центров и автосалонов, для сопровождения представительных лиц во время светских приемов и так далее.</p>

<p>Наши девушки обладают всеми модельными навыками, умеют вести себя в свете важных персон, имеют отличные внешние данные.</p>
					</p>
				</div>
			</article>
		</div>
	</section>

	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/2/services-cards-img-2.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
						Эскорт-поездки
					</h3>
					<div class="services-list__text">
						<p>Эскорт-сопровождение требует от девушек определенных навыков, в том числе непревзойденного чувства стиля, элегантности и идеальных манер. Красивые и уверенные в себе спутницы требуются мужчинам для поездок в деловые путешествия заграницу, для проведения дружеских вечеров с партнерами по бизнесу, а также для сопровождения на вечеринках.</p>

<p>Девушки из агентства <strong>Princess-Girl</strong> скрасят деловые будни, помогут весело отдохнуть после встречи с партнерами и составят отличную компанию во время перелета за рубеж.</p>
					</p>
				</div>
			</article>
		</div>
	</section>

	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/3/services-cards-img-3.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
					Частные вечеринки
					</h3>
					<div class="services-list__text">
						<p>Частные вечеринки – отличный способ завязать деловые знакомства в непринужденной обстановке, которым нередко пользуются бизнесмены. Но какая вечеринка без сногсшибательной спутницы? Чтобы блистать на любом мероприятии, мужчине нужна красивая девушка с прекрасными манерами рядом.</p>

<p>В агентстве <strong>Princess-Girl</strong> работают именно такие барышни. Отличный внешний вид, стать, умение вести себя в любом обществе – вот отличительные черты наших моделей.</p>
					</p>
				</div>
			</article>
		</div>
	</section>

	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/4/services-cards-img-4.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
						Длительные отношения
					</h3>
					<div class="services-list__text">
						<p>Занятому мужчине очень сложно выделить время на личную жизнь. Поиск партнерши и любимого человека осложняется отсутствием временного ресурса, однако каждому представителю сильной половины человечества хочется видеть рядом с собой красавицу и умницу, девушку с хорошими манерами и отличным телом, которая будет вдохновлять на новые достижения и поддерживать в сложные моменты.</p>

<p>Агентство <strong>Princess-Girl</strong> предлагает услуги по поиску второй половинки для состоятельных мужчин. С нашей помощью вы найдете человека по душе, не потратив слишком много времени.</p>
					</p>
				</div>
			</article>
		</div>
	</section>

	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/5/services-cards-img-5.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
						Эскорт-сопровождение
					</h3>
					<div class="services-list__text">
						<p>Установить отличные деловые отношения с бизнесменами вам поможет эскорт-сопровождение. Данную услугу предлагает агентство <strong>Princess-Girl</strong>. У нас работают девушки модельной внешности, которые умеют вести себя в высшем обществе, обладают не только обаянием, но также интеллектом, могут украсить своим присутствием любую компанию.</p>

<p>Агентство предлагает нашим клиентам VIP-обслуживание, которое приятно удивит и порадует зарубежных гостей.</p>
					</p>
				</div>
			</article>
		</div>
	</section>

	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/6/services-cards-img-6.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
						Ужин в ресторане
					</h3>
					<div class="services-list__text">
						<p>Работа, бизнес, деловые связи… Жизнь состоятельного мужчины на 90% состоит из деловых отношений, а ведь так хочется расслабиться и провести время в компании умницы и красавицы. Да и провести переговоры с бизнес-партнерами лучше в компании ухоженной и элегантной спутницы.</p>

<p>Агентство <strong>Princess-Girl</strong> предлагает услугу «Ужин в ресторане». Не важно, будет это деловая встреча или приятное времяпровождение, девушки из нашего агентства украсят своим присутствием компанию состоятельных мужчин.</p>
					</p>
				</div>
			</article>
		</div>
	</section>

	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/7/services-cards-img-7.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
					Знакомство с городом
					</h3>
					<div class="services-list__text">
						<p>Не хотите ехать в командировку или на деловую встречу в одиночестве? Мечтаете провести несколько дней в чужом городе вместе с красавицей? Тогда услуга «Знакомство с городом» от агентства <strong>Princess-Girl</strong> – это то, что вам нужно!</p>

<p>Вместе с красавицей из нашего агентства вы проведете несколько незабываемых дней, познакомитесь с городом, проведете романтические дни и снимите напряжение после деловых переговоров.</p>
					</p>
				</div>
			</article>
		</div>
	</section>

	<section class="services-list">
		<div class="services-list__wrap">
			<article class="services-list__item">
				<div class="services-list__image">
					<img src="/uploads/services/8/services-cards-img-8.png" alt="">
				</div>
				<div class="services-list__content">
					<h3 class="services-list__title">
						Прогулки
					</h3>
					<div class="services-list__text">
						<p>Привнести толику романтики в жизнь состоятельного мужчины поможет услуга «Прогулки», которой активно пользуются многочисленные клиенты агентства <strong>Princess-Girl</strong>. Данная услуга позволит вам ухаживать за девушкой по своему сценарию, завести интригующее знакомство, либо прийти на страстное неожиданное свидание.</p>

<p>Услуга «Прогулки» - отличный шанс вырваться из бытовой рутины, почувствовать запах свободы, получить незабываемые впечатления.</p>
					</p>
				</div>
			</article>
		</div>
	</section>
</div>
	</div>
</div>

	<article class="text-block">
		<div class="text-block__wrap">
								</div>
	</article>

<div class="footer-nav">
	<div class="menu__wrap">
		<a href="index.html" class="logo">Princess Girl</a>
		<nav class="menu__nav">
			<a href="/" class="menu__link">Главная</a>
			<a href="/services/" class="menu__link">Услуги</a>
			<a href="/about/" class="menu__link">Об агентстве</a>
			<a href="/contacts/" class="menu__link">Контакты</a>
		</nav>
		
	</div>
</div>

<footer class="footer">
	<div class="footer__wrap">

		<div class="footer__left">
			<div class="footer__left-wrap">
				<a href="index.html" class="footer__logo"></a>
				<div class="footer__copyright">
					© 2018 Princess-Girl
					Все права защищены
				</div>
			</div>
			
		</div>

		<div class="footer__right">
			<a href="index.html#" class="footer__phone">
				+38(067)515-76-26<br>
				+38(067)221-21-16<br>
				+38(067)445-74-47<br>
				+38(067)405-73-03<br>
				+38(067)408-21-77<br>

							</a>
		</div>

	</div>
</footer>
	<div
	class="call-order"
	id="call-order"
	v-show="isShowModal"
>

	<div
		class="call-order__modal"
		v-on:click.self="hideModal">
		<div class="call-order__modal-wrap">

			<div class="modal-close" v-on:click="hideModal">✖</div>

			<div class="call-order__modal-container">
				<div class="call-order__modal-content">

					<div v-if="modalContent.order">
						<div class="call-order__title">
							Заказать бесплатный звонок
						</div>

						<div class="call-order__separator">●</div>

						<div class="call-order__text">
							Укажите свои контактные данные и наш менеджер свяжется с Вами в ближайшее время.
						</div>

						<div class="call-order__form">
							<form action="https://" method="POST" v-on:submit.prevent="submitForm">
								<div class="call-order__form-field">
									<label class="call-order__label">
										Укажите своё имя:

										<input
											type="text"
											name="name"
											required="true"
											v-model="formFields.name"
											:class="{
												'call-order__input': true, 'call-order__input_active': formFields.name
											}">
									</label>
								</div>
								<div class="call-order__form-field">
									<label class="call-order__label">
										Укажите номер телефона:

										<input
											type="phone"
											name="phone"
											required="true"
											v-model="formFields.phone"
											:class="{
												'call-order__input': true, 'call-order__input_active': formFields.phone
											}">
									</label>
								</div>

								<div class="call-order__form-field">
									<button type="submit" class="btn btn_flat-yellow call-order__btn">Отправить »</button>
								</div>
							</form>
						</div>
					</div>

					<div v-if="modalContent.success">
						<div class="call-order__title">
							Поздравляем!
						</div>

						<div class="call-order__separator">●</div>

						<div class="call-order__text">
							Вы успешно заказали бесплатный звонок!
							<br>
							Наш менеджер скоро Вам перезвонит.
						</div>

						<div class="call-order__form">
							<div class="call-order__form-field">
								<button
									type="submit"
									class="btn btn_flat-yellow call-order__btn"
									v-on:click="hideModal"
								>
									Закрыть
								</button>
							</div>
						</div>
					</div>

					<div v-if="modalContent.error">
						<div class="call-order__title">
							Упс... :(
						</div>

						<div class="call-order__separator">●</div>

						<div class="call-order__text">
							Что-то пошло не так. Попробуйте отправить свои данные ещё один раз, пожалуйста.
						</div>

						<div class="call-order__form">
							<div class="call-order__form-field">
								<button
									type="submit"
									class="btn btn_flat-yellow call-order__btn"
									v-on:click="switchContent('order')"
								>
									Ещё раз »
								</button>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</div>
	<script src="assets/animatelo.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
	<script src="assets/dist/js/bundle.js@v=0003"></script>
	<script src="assets/iview/iview.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46210764 = new Ya.Metrika({
                    id:46210764,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46210764" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
