<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="viewport" content="width=device-width">
	<meta https-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/png" href="favicon.png">

	<meta charset="UTF-8">
	<title>Эскорт услуги в Киеве - агентство Princess-Girl</title>
	<link href="https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/iview/styles/iview.css">
	<link rel="stylesheet" type="text/css" href="/assets/dist/css/style.css@v=0003.css">
</head>
<body>
				

	
<header class="main-screen" id="main-screen">
	<div class="main-screen__wrapper">

		<div class="main-screen__slider" data-slide="1" data-slide-count="5"></div>
		
		<section class="menu">
	<div class="menu__wrap">
		<a href="index.html" class="logo">Princess Girl</a>
		<nav class="menu__nav">
			<a href="/" class="menu__link">Главная</a>
			<a href="/services/" class="menu__link">Услуги</a>
			<a href="/about/" class="menu__link">Об агентстве</a>
			<a href="/contacts/" class="menu__link">Контакты</a>
		</nav>
		
	</div>
</section>
		<div class="main-screen__content">
			<h1 class="main-screen__title">
				Лучшее <br>
				Эскорт-агентство <br>
				"Princess-Girl"
			</h1>

			<div class="main-screen__actions">
				<a class="btn btn_yellow main-screen__btn" href="contacts.html">Сотрудничество</a>
				Комфортные условия — наша забота!
			</div>
		</div>

	</div>
</header>


<section class="bottom-links">
	<div class="bottom-links__wrap">
		

		<div class="bottom-links__group">
			<a href="#" class="bottom-links__link link link_phone">
				+38(067)515-76-26	

				</a>

			<a href="#" class="bottom-links__link link link_phone">
					
				+38(067)221-21-16<br>
		
				</a>
				
			<a href="#" class="bottom-links__link link link_phone">
				
				+38(067)408-21-77<br>
	
				</a>
				
			<a href="#" class="bottom-links__link link link_phone">
				
				+38(067)445-74-47
				
				</a>
				
			<a href="#" class="bottom-links__link link link_phone">
				+38(067)405-73-03<br>			
				
				</a>		
			
			<a href="#" class="bottom-links__link link link_email">
				princess-girls@ukr.net			</a>
		</div>

		
	</div>
</section>
<section class="about">
	<div class="about__wrap">

		<div class="about__title-wrap">
			<h3 class="title about__title">Работа для девушек в Киеве</h3>
		</div>
		<div class="text about__text">
		    У нас к Вам интересное предложение — работа для девушек в элитных салонах с высокой оплатой. Если Вы молоды, обаятельны, энергичны, живете далеко от центра Киева и хотите осуществить свои мечты — работа в Киеве для девушек от 18 лет ждет Вас, мы готовы с Вами сотрудничать. Работа девушек в Киеве потребует проживания в столице. Мы обеспечим Вас жильем, поможем с переездом, встретим Вас по прибытии в город. Вам не о чем беспокоиться, даже если имеются материальные проблемы — мы поможем Вам решить их. По нашему глубокому убеждению, высокооплачиваемая работа для девушек просто обязана находиться вблизи проживания сотрудницы или в таком месте, куда легко добраться. Удобство играет важную роль в продуктивности работы.

Если у Вас будет уютное жилье и не будет транспортных сложностей, Вы сможете всегда быть в хорошем настроении, а это очень важно. Давайте сотрудничать на позитивной волне, достигать новых результатов, зарабатывать солидные деньги с удовольствием! <br><br>Предлагаемая работа для девушек (Киев) подразумевает ряд требований:
возраст от 18 до 45 лет, коммуникабельность, ответственность, готовность работать и желание зарабатывать!
		</div>

		<section class="about__advantages">
			<article class="about__advantage">
				<div class="about__advantage-icon">
					<img src="assets/images/about-icon1.png">
				</div>
				<h3 class="about__advantage-title">Лучшие стилисты и визажисты</h3>
				<p class="about__advantage-text">
					Наши визажисти и стилисты
					усилят Вашу красоту и сделают из Вас настоящую королеву!
				</p>
			</article>
			<article class="about__advantage">
				<div class="about__advantage-icon">
					<img src="assets/images/about-icon2.png">
				</div>
				<h3 class="about__advantage-title">Высокий уровень сервиса!</h3>
				<p class="about__advantage-text">
					Мы сделаем ВСЁ, чтобы Вы
					остались довольными! И предоставим наилучшие условия!
				</p>
			</article>
			<article class="about__advantage">
				<div class="about__advantage-icon">
					<img src="assets/images/about-icon3.png">
				</div>
				<h3 class="about__advantage-title">Гарантия конфиденциальности!</h3>
				<p class="about__advantage-text">
					Для всех наших девушек агентства! Полная безопастность и анонимность! Гарантируем!
				</p>
			</article>
			<article class="about__advantage">
				<div class="about__advantage-icon">
					<img src="assets/images/about-icon4.png">
				</div>
				<h3 class="about__advantage-title">Большая база порядочных клиентов</h3>
				<p class="about__advantage-text">
					Всегда обеспечим Вас работой! В наличии большая база щедрых клиентов!
				</p>
			</article>
		</section>

	</div>
</section>
<section class="services-cards">
	<div class="services-cards__wrap">
		<h2 class="title services-cards__title">Условия работы</h2>
		<center>
Если Вас интересует хорошо оплачиваемая работа для девушек, Киев не обязательно должен быть Вашим родным городом, Вы быстро освоитесь. А наши условия не оставят Вас равнодушной, мы предлагаем:<br>
<br><h3>• Дружный коллектив</h3>
<h3>• Услуги косметологов, визажистов и стилистов</h3>
<h3>• Зарплата от 80 000 грн. в месяц, выплачивается ежедневно, без задержек и вычетов</h3>
<h3>• Возможность оплатить учебу в ВУЗе</h3>
			<p class="text text_small services-cards__text"></p></center>

		<section class="services-cards__list">
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/1/services-cards-img-1.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Модельные услуги						</h3>
					</article>
				</a>
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/2/services-cards-img-2.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Эскорт-поездки						</h3>
					</article>
				</a>
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/3/services-cards-img-3.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Частные вечеринки						</h3>
					</article>
				</a>
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/4/services-cards-img-4.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Длительные отношения						</h3>
					</article>
				</a>
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/5/services-cards-img-5.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Эскорт-сопровождение						</h3>
					</article>
				</a>
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/6/services-cards-img-6.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Ужин в ресторане						</h3>
					</article>
				</a>
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/7/services-cards-img-7.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Знакомство с городом						</h3>
					</article>
				</a>
							<a class="services-cards__card" href="services/">
					<article class="services-cards__card-wrap">
						<div class="services-cards__img">
							<img src="uploads/services/8/services-cards-img-8.png" alt="">
						</div>

						<h3 class="services-cards__card-title">
							Прогулки						</h3>
					</article>
				</a>
					</section>
	</div>
</section>
<div class="models-cards-section">
	<div class="wrapper">
		<h2 class="title">Наши модели</h2>

		<p class="text text_small models-cards__text">
		Когда девушка ищет работу с достойной зарплатой, она хочет выбрать лучшее. У нас работа для девушек — это удовольствие и качественный стиль жизни! 
		Если у Вас красивая фигура и приятная внешность - вы сможете заработать любую сумму! Но не обязательно иметь модельные данные для высокого заработка в нашем агентстве!
			</p>
	</div>

	<div class="models-cards">
	<div class="models-cards__wrap">
																																																	
		<section class="models-cards__list">
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="/uploads/models/4/2.png">
						</div>
						<h3 class="models-cards__title">Алла</h3>
					</div>
				</a>
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="/models-cards__card-wrap">
						<div class="/models-cards__img">
							<img src="/uploads/models/6/3.png">
						</div>
						<h3 class="/models-cards__title">Анжела</h3>
					</div>
				</a>
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="uploads/models/7/4.png">
						</div>
						<h3 class="models-cards__title">Елена</h3>
					</div>
				</a>
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="uploads/models/8/5.png">
						</div>
						<h3 class="models-cards__title">Жанна</h3>
					</div>
				</a>
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="uploads/models/9/6.png">
						</div>
						<h3 class="models-cards__title">Ксения</h3>
					</div>
				</a>
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="uploads/models/10/7.png">
						</div>
						<h3 class="models-cards__title">Марина</h3>
					</div>
				</a>
					</section>

						
		<section class="models-cards__list">
							<a class="models-cards__card"
					href="http://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="uploads/models/11/8.png">
						</div>
						<h3 class="models-cards__title">Наталья</h3>
					</div>
				</a>
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="uploads/models/12/9.png">
						</div>
						<h3 class="models-cards__title">Ольга</h3>
					</div>
				</a>
							<a class="models-cards__card"
					href="https://princess-girl.kiev.ua/services/">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img src="uploads/models/13/1.png">
						</div>
						<h3 class="models-cards__title">Юлия</h3>
					</div>
				</a>
					</section>

		<div id="models-cards">
			<section class="models-cards__list">
				<a class="models-cards__card" v-for="model in models" :key="model.id" :href="'/model/' + model.slug + '-' + model.id">
					<div class="models-cards__card-wrap">
						<div class="models-cards__img">
							<img :src=`/${model.photos[0]}`>
						</div>
						<h3 class="models-cards__title">{{ model.name }}</h3>
					</div>
				</a>
			</section>

			
		</div>
	</div>
</div>
</div>

<section class="reviews">
	<div class="reviews__wrap">
		<h2 class="title reviews__title">Отзывы щедрых клиентов</h2>
		<p class="text text_small reviews__text">
			Узнайте мнение наших клиентов о нашей работе. Убедитесь в качестве наших услуг благодаря отзывам уже воспользовавшихся услугами агентства Princess-Girl.
		</p>

		<div class="reviews__slider">
			<button class="reviews__slider-btn reviews__slider-btn_left"></button>
			<div class="reviews__slides">
				<div class="reviews__slide">
					<div class="reviews__slide-text">
						Много раз пользовался услугам евроэскорт. В основном, для встреч, пару раз заказывал модель для приема у высокопоставленных личностей. Очень положительные впечатления от встреч, все девушки действительно соответствуют высокому уровню.
					</div>
					<div class="reviews__slide_info">
						— Назар, 35 лет
					</div>
				</div>
				<div class="reviews__slide">
					<div class="reviews__slide-text">
						Все устраивает. Спасибо Виктории за отличные выходные! Буду обращаться еще обязательно. 
					</div>
					<div class="reviews__slide_info">
						— Мистер Х, 31 год
					</div>
				</div>
				<div class="reviews__slide">
					<div class="reviews__slide-text">
						Очень достойная компания, пожалуй, лучшая в Киеве это точно, в других городах не пользовался подобными услугами. Девушки понравились все, встречался с Мирой и Кристиной, доволен на все 100% !
					</div>
					<div class="reviews__slide_info">
						— Макс, 46 лет
					</div>
				</div>
				<div class="reviews__slide">
					<div class="reviews__slide-text">
					    Рекомендую! Заказывал сопровождение на вечеринку, все на высшем уровне. Посоветовал друг это агентство, за что ему очень благодарен. Это действительно хорошо подготовленные девушки, а не просто какие-либо путаны с улицы.
					</div>
					<div class="reviews__slide_info">
						— Давид, 44 года
					</div>
				</div>
				<div class="reviews__slide">
					<div class="reviews__slide-text">
					    Спасибо за отличные выходные, первый раз был в Киеве, эксурсия – супер! Девочки просто огонь! Самые лучшие воспоминания остались у меня об этом городе и этом агентстве, уже прилетел в Израиль и соскучился. Марго привет тебе большой! Спасибо за все)
					</div>
					<div class="reviews__slide_info">
						— Марк777, 38 лет
					</div>
				</div>
			</div>
			<button class="reviews__slider-btn reviews__slider-btn_right"></button>
		</div>

		<div class="reviews__btn-container">
			<button type="button" class="btn btn_yellow reviews__btn">Оставить отзыв</button>
		</div>

		<div
	class="call-order"
	id="reviews-form"
	v-show="isShowModal"
>

	<div
		class="call-order__modal"
		v-on:click.self="hideModal">
		<div class="call-order__modal-wrap">

			<div class="modal-close" v-on:click="hideModal">✖</div>

			<div class="call-order__modal-container">
				<div class="call-order__modal-content">

					<div class="call-order__form" style="max-width: 100%;">
						<form action="https://" method="POST" v-on:submit.prevent="submitForm">
							<div class="call-order__form-field">
								<label class="call-order__label">
									Укажите своё имя:

									<input
										type="text"
										name="name"
										required="true"
										v-model="formFields.name"
										:class="{
											'call-order__input': true, 'call-order__input_active': formFields.name
										}">
								</label>
							</div>

							<div class="call-order__form-field">
								<label class="call-order__label">
									Возраст:

									<input
										type="text"
										name="age"
										required="true"
										v-model="formFields.age"
										:class="{
											'call-order__input': true, 'call-order__input_active': formFields.age
										}">
								</label>
							</div>

							<div class="call-order__form-field">
								<label class="call-order__label call-order__label_textarea">
									Текст:

									<textarea
										name="age"
										required="true"
										v-model="formFields.text"
										:class="{
											'call-order__input': true, 'call-order__input_active': formFields.text
										}"></textarea>
								</label>
							</div>

							<center class="call-order__form-field">
								<iframe src="https://www.google.com/recaptcha/api2/anchor?k=6Le-wvkSAAAAAPBMRTvw0Q4Muexq9bi0DJwx_mJ-&amp;co=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbTo0NDM.&amp;hl=ru&amp;v=r20170717162708&amp;size=normal&amp;cb=5jfl7c211lm1" title="виджет reCAPTCHA" width="304" height="78" frameborder="0" scrolling="no" sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation"></iframe>
							</center>

							<div class="call-order__form-field">
								<button type="submit" class="btn btn_flat-yellow call-order__btn">Отправить »</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
	</div>
</section>


<div class="footer-nav">
	<div class="footer-nav__wrap">

		<section class="menu footer-nav__menu">
			<div class="menu__wrap">
				<nav class="menu__nav footer-nav__menu-links">
					<a href="/" class="menu__link">Главная</a>
					<a href="/services/" class="menu__link">Услуги</a>
					<a href="/about/" class="menu__link">Об агентстве</a>
					<a href="/contacts/" class="menu__link">Контакты</a>
				</nav>
				
			</div>
		</section>

	</div>
</div>

<footer class="footer">
	<div class="footer__wrap">

		<div class="footer__left">
			<div class="footer__left-wrap">
				<a href="index.html" class="footer__logo"></a>
				<div class="footer__copyright">
					© 2018 Princess-Girl
					Все права защищены
				</div>
			</div>
			
		</div>

		<div class="footer__right">
			<a href="#" class="footer__phone">
				+38(067)515-76-26<br>
				+38(067)221-21-16<br>
				+38(067)445-74-47<br>
				+38(067)405-73-03<br>
				+38(067)408-21-77<br>

							</a>
		</div>

	</div>
</footer>
	<div
	class="call-order"
	id="call-order"
	v-show="isShowModal"
>

	<div
		class="call-order__modal"
		v-on:click.self="hideModal">
		<div class="call-order__modal-wrap">

			<div class="modal-close" v-on:click="hideModal">✖</div>

			<div class="call-order__modal-container">
				<div class="call-order__modal-content">

					<div v-if="modalContent.order">
						<div class="call-order__title">
							Заказать бесплатный звонок
						</div>

						<div class="call-order__separator">●</div>

						<div class="call-order__text">
							Укажите свои контактные данные и наш менеджер свяжется с Вами в ближайшее время.
						</div>

						<div class="call-order__form">
							<form action="https://" method="POST" v-on:submit.prevent="submitForm">
								<div class="call-order__form-field">
									<label class="call-order__label">
										Укажите своё имя:

										<input
											type="text"
											name="name"
											required="true"
											v-model="formFields.name"
											:class="{
												'call-order__input': true, 'call-order__input_active': formFields.name
											}">
									</label>
								</div>
								<div class="call-order__form-field">
									<label class="call-order__label">
										Укажите номер телефона:

										<input
											type="phone"
											name="phone"
											required="true"
											v-model="formFields.phone"
											:class="{
												'call-order__input': true, 'call-order__input_active': formFields.phone
											}">
									</label>
								</div>

								<div class="call-order__form-field">
									<button type="submit" class="btn btn_flat-yellow call-order__btn">Отправить »</button>
								</div>
							</form>
						</div>
					</div>

					<div v-if="modalContent.success">
						<div class="call-order__title">
							Поздравляем!
						</div>

						<div class="call-order__separator">●</div>

						<div class="call-order__text">
							Вы успешно заказали бесплатный звонок!
							<br>
							Наш менеджер скоро Вам перезвонит.
						</div>

						<div class="call-order__form">
							<div class="call-order__form-field">
								<button
									type="submit"
									class="btn btn_flat-yellow call-order__btn"
									v-on:click="hideModal"
								>
									Закрыть
								</button>
							</div>
						</div>
					</div>

					<div v-if="modalContent.error">
						<div class="call-order__title">
							Упс... :(
						</div>

						<div class="call-order__separator">●</div>

						<div class="call-order__text">
							Что-то пошло не так. Попробуйте отправить свои данные ещё один раз, пожалуйста.
						</div>

						<div class="call-order__form">
							<div class="call-order__form-field">
								<button
									type="submit"
									class="btn btn_flat-yellow call-order__btn"
									v-on:click="switchContent('order')"
								>
									Ещё раз »
								</button>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</div>
	<script src="assets/animatelo.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
	<script src="assets/dist/js/bundle.js@v=0003"></script>
	<script src="assets/iview/iview.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46210764 = new Ya.Metrika({
                    id:46210764,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46210764" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
